@import "tailwindcss";

@theme {
  --color-border: #343434;
}

:root {
  --background: #232323;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter, sans-serif;
}
